body{
  font-family: VT323;
  background-color: black;
  color: black;
  line-height: 10px;
}

.visible{
  color: #00e600;
}

#player_span{
  color: white;
}

#player {
  color: white;
}

.block{
  color: #ccffcc;
}

#door_span{
  color: green;
}

.lit{
  color: black;
  text-shadow: 0 0 5px #ffffe6;
}
