body{
  font-family: VT323;
  background-color: black;
  color: #00e600;
  line-height: 10px;
}

#player_span{
  color: white;
}

#door_span{
  color: green;
}

.form-control{

}

.col-xs-1{
  width: auto;
  line-height: 10px;
  padding: 0;
}

.row{
  margin-left: auto;
}
